$fonts: 'Poppins', Helvertica, sans-serif;
$primary-color: #f1f0f1;
$spacing: 0;

body {
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    font-family: $fonts;
    color: $primary-color;
    padding: $spacing;
    align-items: center;
    box-sizing: border-box;
    overflow:hidden
}

.weatherFormLeft, .weatherFormRight {
    min-width: 50%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.weatherFormLeft{
    border-right: black solid 3px;
    background: url(./Resources/Backgrounds/Night.gif);
    background-size: cover;
    background-position: center;

}

.weatherFormRight{
    border-left: black solid 3px;
    background: url(./Resources/Backgrounds/Rain.gif);
    background-size: cover;
    background-position: center;

}
.searchBox {
    display: flex;
    justify-content: center;
    border: none;
    color: $primary-color;
    
}

input[type=text] {
    border: none;
    color: $primary-color;
    border-bottom: solid 1px $primary-color;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 70%;
    border: none;
    border-bottom: solid 1px $primary-color;
    outline: none;
}

input::placeholder {
color: $primary-color;
opacity: 0.75;
}

.searchInput{
    border-radius: 2px;
    padding: 4px;
    background-color: rgba(255, 255, 255, 0);
}

.weatherFormMain {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.weatherDetails, .weatherStatsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.weatherStats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

.forecastContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}