$fonts: 'Poppins', Helvetica, sans-serif;
$primary-color: #f1f0f1;
$spacing: 0;

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0px;
    padding: 0px;

}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main{
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    font-family: $fonts;
    color: $primary-color;
    padding: $spacing;
    align-items: center;
    box-sizing: border-box;
    overflow:hidden
}

.weatherFormLeft, .weatherFormRight {
    min-width: 50%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.weatherFormLeft{
    border-right: black solid 3px;
    background: url(./Resources/Backgrounds/Night.gif);
    background-size: cover;
    background-position: center;

}

.weatherFormRight{
    border-left: black solid 3px;
    background: url(./Resources/Backgrounds/Rain.gif);
    background-size: cover;
    background-position: center;

}
.searchBox {
    display: flex;
    justify-content: center;
    border: none;
    color: $primary-color;
    
}

input[type=text] {
    border: none;
    color: $primary-color;
    border-bottom: solid 1px $primary-color;
    transition: width 0.4s ease-in-out;
    
    &:focus {
        width: 90%;
    border: none;
    border-bottom: solid 1px $primary-color;
    outline: none;
    }

    &::placeholder{
        color: $primary-color;
        opacity: 0.75;
    }
}


.searchInput{
    border-radius: 2px;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0);
    font-size: 2.2rem;
}

.weatherFormMain {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.weatherDetails, .weatherStatsContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
}

.weatherStats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.statsData {
    font-size: 24px;
    font-weight: 600;
}

.forecastContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.forecastDaily{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 6px;
    align-items: flex-start;

    &__day{
        font-size: 18px;
    }

    &__tempHigh{
        font-size: 24px;
        font-weight: 700;
    }

    &__tempLow{
        font-size: 12px;
    }

    &__icon{
        height: 50px;
        width: auto;
    }
}


.weatherDetails{

    &__description{
        font-size: 2.5rem;
        font-weight: 500;
    }

    &__subContainer{
        display: flex;
        flex-direction: row;
    }

    &__city{
        font-size: 1.8rem;
        font-weight: 400;
    }

    &__date, &__time{
        font-size: 1.3rem;
        margin: 5px;
    }

    &__temp {
        font-size: 3.2rem;
        font-weight: 700;
    }

    &__icon {
        height: 200px;
        width: auto;
        margin-top: -45px;
    }



}


.statsIcon{
    height: 80px;
    width: 80px;
}